<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    Backlog:
    <% data.Backlog.forEach(function(item) { %>
        <li><%= item.Title %> - <%= item.Owner %> </li>
    <% }); %>
    Doing:
    <% data.Doing.forEach(function(item) { %>
        <li><%= item.Title %> - <%= item.Owner %> </li>
    <% }); %>
    Done:
    <% data.Done.forEach(function(item) { %>
        <li><%= item.Title %> - <%= item.Owner %> </li>
    <% }); %>
    </ul>
    <p>Welcome to <%= title %></p>
  </body>
</html>
